{
  "swagger": "2.0",
  "info": {
    "title": "Bokun API",
    "description": "Documentation for the Bokun API.",
    "version": "1.0"
  },
  "schemes": [
    "https"
  ],
  "host": "api.bokuntest.com",
  "tags": [
    {
      "name": "accommodation",
      "description": "Operations for Accommodation"
    },
    {
      "name": "activity",
      "description": "Operations for Tours & Activities"
    },
    {
      "name": "booking",
      "description": "Operations for Bookings"
    },
    {
      "name": "car-rental",
      "description": "Operations for Rental Cars"
    },
    {
      "name": "category",
      "description": "Operations for Categories"
    },
    {
      "name": "country",
      "description": "Operations for countries and nationalities"
    },
    {
      "name": "currency",
      "description": "Operations for Supported Currencies"
    },
    {
      "name": "language",
      "description": "Operations for Supported Languages"
    },
    {
      "name": "product-list",
      "description": "Operations for Product Lists"
    },
    {
      "name": "route",
      "description": "Operations for Transport routes"
    },
    {
      "name": "shopping-cart",
      "description": "Operations for Shopping carts"
    },
    {
      "name": "shore-excursions",
      "description": "Operations for Shore Excursions"
    },
    {
      "name": "tag",
      "description": "Operations for Tags"
    }
  ],
  "paths": {
    "/accommodation.json/search": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "POST_controllers_webservices_AccommodationApiController$_search",
        "summary": "Search accommodations and availability",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccommodationQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SearchResultsDto"
            }
          }
        }
      }
    },
    "/accommodation.json/check-room-availability": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "POST_controllers_webservices_AccommodationApiController$_checkRoomAvailability",
        "summary": "Get a list of all rooms available for a given stay interval.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoomAvailabilityRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RoomAvailabilityResponseDto"
            }
          }
        }
      }
    },
    "/accommodation.json/{id}/check-availability": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "POST_controllers_webservices_AccommodationApiController$_checkAccommodationAvailability",
        "summary": "Check availability for a selected Accommodation",
        "parameters": [
          {
            "in": "path",
            "description": "ID of the Accommodation",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccommodationQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/AccommodationAvailabilityReportDto"
            }
          }
        }
      }
    },
    "/accommodation.json/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "GET_controllers_webservices_AccommodationApiController$_getAccommodation",
        "summary": "Get Accommodation by ID",
        "parameters": [
          {
            "in": "path",
            "description": "ID of accommodation to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/AccommodationDto"
            }
          }
        }
      }
    },
    "/accommodation.json/{id}/rooms": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "GET_controllers_webservices_AccommodationApiController$_getRoomsByRoomType",
        "summary": "Get a list of all rooms for a particular Accommodation.",
        "parameters": [
          {
            "in": "path",
            "description": "ID of the accommodation",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RoomsGroupedByTypeContainer"
            }
          }
        }
      }
    },
    "/accommodation.json/availabilities": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "GET_controllers_webservices_AccommodationApiController$_getAvailabilities",
        "summary": "Get room availabilities for one or more accommodations over an interval",
        "parameters": [
          {
            "in": "query",
            "description": "Comma separated IDs of the Accommodations",
            "name": "ids",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The start date of the interval (yyyy-MM-dd)",
            "name": "start",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The end date of the interval (yyyy-MM-dd)",
            "name": "end",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/AccommodationAvailabilitiesDto"
            }
          }
        }
      }
    },
    "/accommodation.json/slug/{slug}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "GET_controllers_webservices_AccommodationApiController$_findAccommodationBySlug",
        "summary": "Look up Accommodation by slug",
        "parameters": [
          {
            "in": "path",
            "description": "The slug of the accommodation to be fetched",
            "name": "slug",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/AccommodationDto"
            }
          }
        }
      }
    },
    "/car-rental.json/list": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "car-rental"
        ],
        "operationId": "GET_controllers_webservices_CarRentalApiController$_listCarRentals",
        "summary": "List all car rentals",
        "parameters": [
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalSearchResultsDto"
            }
          }
        }
      }
    },
    "/car-rental.json/slug/{slug}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "car-rental"
        ],
        "operationId": "GET_controllers_webservices_CarRentalApiController$_findCarRentalBySlug",
        "summary": "Look up Car Rental by slug",
        "parameters": [
          {
            "in": "path",
            "description": "The slug of the car rental to be fetched",
            "name": "slug",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalDto"
            }
          }
        }
      }
    },
    "/car-rental.json/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "car-rental"
        ],
        "operationId": "GET_controllers_webservices_CarRentalApiController$_getCarRental",
        "summary": "Get Car Rental by ID",
        "parameters": [
          {
            "in": "path",
            "description": "ID of car rentals to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalDto"
            }
          }
        }
      }
    },
    "/car-rental.json/search-cars": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "car-rental"
        ],
        "operationId": "POST_controllers_webservices_CarRentalApiController$_searchCars",
        "summary": "Search types of rental cars",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CarQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarSearchResultsDto"
            }
          }
        }
      }
    },
    "/currency.json/findAll": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "currency"
        ],
        "operationId": "GET_controllers_webservices_CurrencyApiController$_findAll",
        "summary": "Get all Supported Currencies",
        "description": "Get a list of all the available currencies, along with conversion rates.",
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CurrencyDto"
              }
            }
          }
        }
      }
    },
    "/tag.json/groups": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "tag"
        ],
        "operationId": "GET_controllers_webservices_TagApiController$_groups",
        "summary": "Get the tag groups",
        "parameters": [
          {
            "in": "query",
            "description": "Comma separated list of required flags",
            "name": "flags",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagGroupDto"
              }
            }
          }
        }
      }
    },
    "/category.json/{productType}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "category"
        ],
        "operationId": "GET_controllers_webservices_CategoryApiController$_categoriesByProductType",
        "summary": "Get all categories for the specified product type",
        "parameters": [
          {
            "in": "path",
            "description": "The product type to be categorized",
            "name": "productType",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Specifies whether to get only categories for bookable items in this product type or not",
            "name": "item",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Comma separated list of required flags",
            "name": "flags",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CategoryDto"
              }
            }
          }
        }
      }
    },
    "/activity.json/check-prices": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "POST_controllers_webservices_ActivityApiController$_checkPrices",
        "summary": "Check Activity prices",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object describing the activity booking request, can be array of such objects",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActivityBookingDto"
              }
            }
          }
        }
      }
    },
    "/activity.json/{id}/upcoming-availabilities/{max}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "GET_controllers_webservices_ActivityApiController$_getUpcomingAvailabilities",
        "summary": "Get the next upcoming Activity availabilities",
        "parameters": [
          {
            "in": "path",
            "description": "ID of activity to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "path",
            "description": "The max number of upcoming availabilities to get.",
            "name": "max",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          },
          {
            "in": "query",
            "description": "Specify whether to include availabilities that are sold out.",
            "name": "includeSoldOut",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityAvailabilityDto"
            }
          }
        }
      }
    },
    "/activity.json/slug/{slug}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "GET_controllers_webservices_ActivityApiController$_findActivityBySlug",
        "summary": "Look up Activity by slug",
        "parameters": [
          {
            "in": "path",
            "description": "The slug of the activity to be fetched",
            "name": "slug",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityDto"
            }
          }
        }
      }
    },
    "/activity.json/{id}/pickup-places": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "GET_controllers_webservices_ActivityApiController$_getPickupPlaces",
        "summary": "Get Pickup / Dropoff places for an Activity",
        "parameters": [
          {
            "in": "path",
            "description": "ID of the Activity",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityPlacesDto"
            }
          }
        }
      }
    },
    "/activity.json/search": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "POST_controllers_webservices_ActivityApiController$_search",
        "summary": "Search activities and availability",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SearchResultsDto"
            }
          }
        }
      }
    },
    "/activity.json/{id}/availabilities": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "GET_controllers_webservices_ActivityApiController$_getAvailabilities",
        "summary": "Get Activity availabilities for an interval",
        "parameters": [
          {
            "in": "path",
            "description": "ID of activity to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The start date of the interval ('yyyy-MM-dd')",
            "name": "start",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The end date of the interval ('yyyy-MM-dd')",
            "name": "end",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "Specify whether to include availabilities that are sold out.",
            "name": "includeSoldOut",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityAvailabilityDto"
            }
          }
        }
      }
    },
    "/activity.json/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "GET_controllers_webservices_ActivityApiController$_getActivity",
        "summary": "Get Activity by ID",
        "parameters": [
          {
            "in": "path",
            "description": "ID of activity to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityDto"
            }
          }
        }
      }
    },
    "/shore-excursions.json/harbours": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shore-excursions"
        ],
        "operationId": "GET_controllers_webservices_ShoreExcursionsApiController$_findHarbours",
        "summary": "Get all Harbours on this Channel",
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HarbourDto"
              }
            }
          }
        }
      }
    },
    "/shore-excursions.json/vessels/{id}/harbours": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shore-excursions"
        ],
        "operationId": "GET_controllers_webservices_ShoreExcursionsApiController$_findHarboursByVessel",
        "summary": "Get all upcoming Harbours for the Vessel supplied",
        "parameters": [
          {
            "in": "path",
            "description": "ID of the Vessel",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HarbourDto"
              }
            }
          }
        }
      }
    },
    "/shore-excursions.json/vessels": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shore-excursions"
        ],
        "operationId": "GET_controllers_webservices_ShoreExcursionsApiController$_findVessels",
        "summary": "Get all Vessels on this Channel",
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VesselDto"
              }
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/car-rental": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "POST_controllers_webservices_ShoppingCartApiController$_addCarRentalToSessionCart",
        "summary": "Add car rental booking to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object describing the car rental booking request, can be array of such objects",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CarRentalBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "Affiliate tracking code.",
            "name": "trackingCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "ID of the vessel associated with this booking.",
            "name": "vesselId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "ID of the harbour associated with this booking.",
            "name": "harbourId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "GET_controllers_webservices_ShoppingCartApiController$_getSessionCart",
        "summary": "Get a session shopping cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart to be fetched",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-car/{carBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "GET_controllers_webservices_ShoppingCartApiController$_removeCarFromSessionCart",
        "summary": "Remove a car booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the car booking to remove",
            "name": "carBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/route": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "POST_controllers_webservices_ShoppingCartApiController$_addRouteToSessionCart",
        "summary": "Add route booking to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object describing the route booking request, can be array of such objects",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransportBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "Affiliate tracking code.",
            "name": "trackingCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "ID of the vessel associated with this booking.",
            "name": "vesselId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "ID of the harbour associated with this booking.",
            "name": "harbourId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-room/{roomBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "GET_controllers_webservices_ShoppingCartApiController$_removeRoomFromSessionCart",
        "summary": "Remove a room booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the room booking to remove",
            "name": "roomBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-extra/{bType}/{bId}/{eId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "GET_controllers_webservices_ShoppingCartApiController$_removeExtraBookingFromSessionCart",
        "summary": "Remove an extra booking from an existing parent booking in a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The booking type",
            "name": "bType",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the parent booking of this type",
            "name": "bId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "path",
            "description": "The ID of the extra to be removed (NOT the extra booking)",
            "name": "eId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/accommodation": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "POST_controllers_webservices_ShoppingCartApiController$_addAccommodationToSessionCart",
        "summary": "Add accommodation booking to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object describing the accommodation booking request, can be array of such objects",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccommodationBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "Affiliate tracking code.",
            "name": "trackingCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "ID of the vessel associated with this booking.",
            "name": "vesselId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "ID of the harbour associated with this booking.",
            "name": "harbourId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/activity": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "POST_controllers_webservices_ShoppingCartApiController$_addActivityToSessionCart",
        "summary": "Add activity booking to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object describing the activity booking request, can be array of such objects",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "Affiliate tracking code.",
            "name": "trackingCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "ID of the vessel associated with this booking.",
            "name": "vesselId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "ID of the harbour associated with this booking.",
            "name": "harbourId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-accommodation/{accommodationBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "GET_controllers_webservices_ShoppingCartApiController$_removeAccommodationFromSessionCart",
        "summary": "Remove an accommodation booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the accommodation booking to remove",
            "name": "accommodationBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-activity/{activityBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "GET_controllers_webservices_ShoppingCartApiController$_removeActivityFromSessionCart",
        "summary": "Remove an activity booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the activity booking to remove",
            "name": "activityBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-car-rental/{carRentalBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "GET_controllers_webservices_ShoppingCartApiController$_removeCarRentalFromSessionCart",
        "summary": "Remove a car rental booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the car rental booking to remove",
            "name": "carRentalBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/add-or-update-extra/{bType}/{bId}": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "POST_controllers_webservices_ShoppingCartApiController$_addOrUpdateExtraBookingInSessionCart",
        "summary": "Add or update an extra booking for an existing parent booking in a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The booking type",
            "name": "bType",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the parent booking of this type",
            "name": "bId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "description": "JSON object describing the extra booking request",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtraBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-route/{routeBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "GET_controllers_webservices_ShoppingCartApiController$_removeRouteFromSessionCart",
        "summary": "Remove a route booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the route booking to remove",
            "name": "routeBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/language.json/findAll": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "language"
        ],
        "operationId": "GET_controllers_webservices_LangApiController$_findAll",
        "summary": "Get all Languages supported by the Channel",
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TranslationLanguageDto"
              }
            }
          }
        }
      }
    },
    "/route.json/list": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "route"
        ],
        "operationId": "GET_controllers_webservices_TransportApiController$_listRoutes",
        "summary": "List ",
        "parameters": [
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteDto"
            }
          }
        }
      }
    },
    "/route.json/check-availability": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "route"
        ],
        "operationId": "POST_controllers_webservices_TransportApiController$_checkAvailability",
        "summary": "Get availability report for a particular route",
        "parameters": [
          {
            "in": "body",
            "description": "JSON query",
            "name": "query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransportQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteAvailabilityReportDto"
            }
          }
        }
      }
    },
    "/route.json/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "route"
        ],
        "operationId": "GET_controllers_webservices_TransportApiController$_getRoute",
        "summary": "Get Route by ID",
        "parameters": [
          {
            "in": "path",
            "description": "ID of transport route to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteDto"
            }
          }
        }
      }
    },
    "/booking.json/{bookingId}/charge-card": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_chargeCardForBooking",
        "summary": "Charge a card to pay for a booking",
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the booking",
            "name": "bookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "Specifies whether to send email booking confirmation to the customer",
            "name": "sendCustomerNotification",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "in": "body",
            "description": "The card details and info on what to charge",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargeRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ChargeDto"
            }
          }
        }
      }
    },
    "/booking.json/guest/{sessionId}/reserved": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_guestGetReserved",
        "summary": "Get a list of reserved bookings for the guest (if any exist)",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of the guest",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/booking"
              }
            }
          }
        }
      }
    },
    "/booking.json/activity-booking/{confirmationCode}/customer-status/{status}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_setActivityBookingCustomerStatus",
        "summary": "Change the arrived status of an activity booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the product booking",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The arrived status (yes/no true/false)",
            "name": "status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/cancel-product-booking/{productConfirmationCode}": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_cancelProductBooking",
        "summary": "Cancel for given product booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the activity booking",
            "name": "productConfirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelProductBooking"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/booking.json/cancel-booking/{confirmationCode}": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_cancelBooking",
        "summary": "Cancel for given booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the booking that you want to cancel",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelBooking"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/booking.json/accommodation-booking/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_accommodationBooking",
        "summary": "Show accommodation booking information",
        "parameters": [
          {
            "in": "path",
            "description": "The id or confirmation code for the product booking",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/AccommodationBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/car-rental-booking/reserve-and-confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_reserveAndConfirmCarRentalBooking",
        "summary": "Reserve and confirm a single car rental booking (bypasses shopping cart)",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SingleCarRentalBookingRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/booking"
            }
          }
        }
      }
    },
    "/booking.json/{bookingId}/abort-reserved": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_abortReservedBooking",
        "summary": "Abort a reserved booking",
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the booking",
            "name": "bookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "Specifies whether the booking is aborted due to a timeout.",
            "name": "timeout",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/booking.json/car-rental-booking/{confirmationCode}/customer-status/{status}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_setCarRentalBookingCustomerStatus",
        "summary": "Change the arrived status of a car rental booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the product booking",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The arrived status (yes/no or true/false)",
            "name": "status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/accommodation-booking/{confirmationCode}/customer-status/{status}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_setAccommodationBookingCustomerStatus",
        "summary": "Change the arrived status of an accommodation booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the product booking",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The arrived status (yes/no true/false)",
            "name": "status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/AccommodationBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/activity-booking/reserve-and-confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_reserveAndConfirmActivityBooking",
        "summary": "Reserve and confirm a single activity booking (bypasses shopping cart)",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SingleActivityBookingRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/booking"
            }
          }
        }
      }
    },
    "/booking.json/accommodation-booking/{id}/ticket": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_getAccommodationTicket",
        "summary": "Get ticket for given accommodation booking",
        "parameters": [
          {
            "in": "path",
            "description": "The id of the accommodation booking",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/booking.json/{bookingId}/confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_confirmBooking",
        "summary": "Confirm a booking (after payment)",
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the booking",
            "name": "bookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "IS"
          },
          {
            "in": "query",
            "description": "Specifies whether to send email booking confirmation to the customer",
            "name": "sendCustomerNotification",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "in": "body",
            "description": "The confirmation object, which can optionally contain payments and other data",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingConfirmationDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/booking"
            }
          }
        }
      }
    },
    "/booking.json/booking/{bookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_booking",
        "summary": "Fetch a booking by id",
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the booking",
            "name": "bookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "IS"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/booking"
            }
          }
        }
      }
    },
    "/booking.json/activity-booking/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_activityBooking",
        "summary": "Show activity booking information",
        "parameters": [
          {
            "in": "path",
            "description": "The id or confirmation code for the product booking",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/route-booking/{confirmationCode}/customer-status/{status}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_setRouteBookingCustomerStatus",
        "summary": "Change the arrived status of a route booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the product booking",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The arrived status (yes/no or true/false)",
            "name": "status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/{bookingId}/payment-error": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_paymentError",
        "summary": "Indicate that an error occurred in payment",
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the booking",
            "name": "bookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "description": "JSON object describing the error",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ErrorDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/booking.json/accommodation-booking/reserve-and-confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_reserveAndConfirmAccommodationBooking",
        "summary": "Reserve and confirm a single accommodation booking (bypasses shopping cart)",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SingleAccommodationBookingRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/booking"
            }
          }
        }
      }
    },
    "/booking.json/guest/{sessionId}/reserve-pay-confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_guestReserveChargeAndConfirm",
        "summary": "Reserve the booking for the guest, charge the card and confirm",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of the guest",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "Specifies whether to send email booking confirmation to the customer",
            "name": "sendCustomerNotification",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingReservationRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/booking"
            }
          }
        }
      }
    },
    "/booking.json/transport-booking/{id}/ticket": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_getTransportTicket",
        "summary": "Get ticket for given transport booking",
        "parameters": [
          {
            "in": "path",
            "description": "The id of the transport booking",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/booking.json/product-booking-search": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_productBookingSearch",
        "summary": "Search for bookings and return a list of booking information",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductBookingQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductBookingSearchResultsDto"
              }
            }
          }
        }
      }
    },
    "/booking.json/{bookingId}/move-back-to-cart/session/{sessionId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_moveReservedBookingBackToSessionCart",
        "summary": "Move a reserved booking back to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of the guest",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the booking",
            "name": "bookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "IS"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/booking.json/guest/{sessionId}/questions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_guestQuestions",
        "summary": "Get the info required for booking for the guest",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of the guest",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "IS"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingQuestionsDto"
            }
          }
        }
      }
    },
    "/booking.json/guest/{sessionId}/reserve": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_guestReserve",
        "summary": "Reserve the booking for the guest (before payment)",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of the guest",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "Comma separated names of parameters for the payment provider.",
            "name": "paymentParameters",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingReservationRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/booking"
            }
          }
        }
      }
    },
    "/booking.json/route-booking/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_routeBooking",
        "summary": "Show route booking information",
        "parameters": [
          {
            "in": "path",
            "description": "The id or confirmation code for the product booking",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/{id}/summary": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_getSummary",
        "summary": "Get summary for given booking",
        "parameters": [
          {
            "in": "path",
            "description": "The id of the booking",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/booking.json/edit": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_bookingExecuteEdit",
        "summary": "Edit bookings",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Action"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingEditResult"
            }
          }
        }
      }
    },
    "/booking.json/car-rental-booking/{id}/ticket": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_getCarRentalTicket",
        "summary": "Get ticket for given car rental booking",
        "parameters": [
          {
            "in": "path",
            "description": "The id of the car rental booking",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/booking.json/route-booking/reserve-and-confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "POST_controllers_webservices_BookingApiController$_reserveAndConfirmRouteBooking",
        "summary": "Reserve and confirm a single route booking (bypasses shopping cart)",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SingleTransportBookingRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/booking"
            }
          }
        }
      }
    },
    "/booking.json/activity-booking/{id}/ticket": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_getActivityTicket",
        "summary": "Get ticket for given activity booking",
        "parameters": [
          {
            "in": "path",
            "description": "The id of the activity booking",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/booking.json/car-rental-booking/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "GET_controllers_webservices_BookingApiController$_carRentalBooking",
        "summary": "Show car rental booking information",
        "parameters": [
          {
            "in": "path",
            "description": "The id or confirmation code for the product booking",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalBookingDetailsDto"
            }
          }
        }
      }
    },
    "/product-list.json/slug/{slug}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "product-list"
        ],
        "operationId": "GET_controllers_webservices_ProductListApiController$_getProductListBySlug",
        "summary": "Get Product List by slug",
        "parameters": [
          {
            "in": "path",
            "description": "The slug of the Product List to be fetched",
            "name": "slug",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "Comma separated list of required flags",
            "name": "flags",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ProductListDto"
            }
          }
        }
      }
    },
    "/product-list.json/list": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "product-list"
        ],
        "operationId": "GET_controllers_webservices_ProductListApiController$_getAllProductLists",
        "summary": "Get all available Product Lists",
        "parameters": [
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductListDescriptionDto"
              }
            }
          }
        }
      }
    },
    "/product-list.json/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "product-list"
        ],
        "operationId": "GET_controllers_webservices_ProductListApiController$_getProductListById",
        "summary": "Get Product List by ID",
        "parameters": [
          {
            "in": "path",
            "description": "ID of the Product List to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "Comma separated list of required flags",
            "name": "flags",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ProductListDto"
            }
          }
        }
      }
    },
    "/country.json/findAll": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "country"
        ],
        "operationId": "GET_controllers_webservices_CountryApiController$_findAll",
        "summary": "Get all supported countries/nationalities",
        "description": "Get a list of all the available countries, along with the ISO code for each country.",
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountryDto"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccommodationAvailabilitiesDto": {
      "properties": {
        "accommodations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccommodationAvailabilityReportDto"
          }
        },
        "endDate": {
          "type": "string"
        },
        "startDate": {
          "type": "string"
        }
      }
    },
    "AccommodationAvailabilityReportDto": {
      "properties": {
        "availableRooms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvailableRoomDto"
          }
        },
        "checkInDate": {
          "type": "string",
          "format": "date-time"
        },
        "checkOutDate": {
          "type": "string",
          "format": "date-time"
        },
        "nightCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AccommodationDto": {
      "properties": {
        "actualVendor": {
          "$ref": "#/definitions/VendorDto"
        },
        "actualId": {
          "type": "integer",
          "format": "int64"
        },
        "baseLanguage": {
          "type": "string"
        },
        "bookableExtras": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BookableExtraDto"
          }
        },
        "box": {
          "type": "boolean"
        },
        "boxedAccommodationId": {
          "type": "integer",
          "format": "int64"
        },
        "boxedVendor": {
          "$ref": "#/definitions/VendorDto"
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryDto"
          }
        },
        "checkInHour": {
          "type": "integer",
          "format": "int32"
        },
        "checkInMinute": {
          "type": "integer",
          "format": "int32"
        },
        "checkOutHour": {
          "type": "integer",
          "format": "int32"
        },
        "checkOutMinute": {
          "type": "integer",
          "format": "int32"
        },
        "paymentCurrencies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomFieldDto"
          }
        },
        "description": {
          "type": "string"
        },
        "excerpt": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "flags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "keyPhoto": {
          "$ref": "#/definitions/PhotoDto"
        },
        "keywords": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languages": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastPublished": {
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/LocationDto"
        },
        "photos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PhotoDto"
          }
        },
        "productCategory": {
          "type": "string"
        },
        "productGroupId": {
          "type": "integer",
          "format": "int64"
        },
        "rating": {
          "type": "integer",
          "format": "int32"
        },
        "roomTypes": {
          "type": "array",
          "items": {
[...]
