{
  "swagger": "2.0",
  "info": {
    "title": "Bokun API",
    "description": "<p>You can sign up for the <a href=\"http://eepurl.com/gDj7Yb\">Bokun API mailing list</a> to receive notifications when there are upcoming changes to this API.</p> <br/> <p> Further documentation of this api is available here <a href=\"https://docs.google.com/document/d/1tkLLqeAvVtRrDpsM1uJZJvhHg3EfsMw1z_SN8Lbe2Rs/pub\" target=\"_blank\">Bokun API documentation</a>. The booking checkout process is detailed in <a href=\"https://docs.google.com/document/d/1Azn8DvrlwyCYnz5TmGNvzwUW-Y9cuvOjLAqhxdEQbJQ/edit?usp=sharing\" target=\"_blank\">Booking API documentation</a>. </p> <br/> <p>You can generate a client in your preferred language using <a href=\"http://editor.swagger.io/#/?import=https://bokun.github.io/api-docs/bokun.yaml\">swagger editor</a></p>",
    "version": "1.0"
  },
  "schemes": [
    "https"
  ],
  "host": "api.bokun.io",
  "tags": [
    {
      "name": "accommodation",
      "description": "Operations for Accommodation"
    },
    {
      "name": "activity",
      "description": "Operations for Tours & Activities"
    },
    {
      "name": "booking",
      "description": "Operations for Bookings"
    },
    {
      "name": "car-rental",
      "description": "Operations for Rental Cars"
    },
    {
      "name": "category",
      "description": "Operations for Categories"
    },
    {
      "name": "country",
      "description": "Operations for countries and nationalities"
    },
    {
      "name": "currency",
      "description": "Operations for Supported Currencies"
    },
    {
      "name": "question",
      "description": "Operations for Booking questions and answers"
    },
    {
      "name": "checkout",
      "description": "Operations for Checkout"
    },
    {
      "name": "language",
      "description": "Operations for Supported Languages"
    },
    {
      "name": "product-list",
      "description": "Operations for Product Lists"
    },
    {
      "name": "route",
      "description": "Operations for Transport routes"
    },
    {
      "name": "shopping-cart",
      "description": "Operations for Shopping carts"
    },
    {
      "name": "shore-excursions",
      "description": "Operations for Shore Excursions"
    },
    {
      "name": "tag",
      "description": "Operations for Tags"
    }
  ],
  "paths": {
    "/accommodation.json/search": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "accommodationSearch",
        "summary": "Search accommodations and availability",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccommodationQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SearchResultsDto"
            }
          }
        }
      }
    },
    "/accommodation.json/check-room-availability": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "checkRoomAvailability",
        "summary": "Get a list of all rooms available for a given stay interval.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoomAvailabilityRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RoomAvailabilityResponseDto"
            }
          }
        }
      }
    },
    "/accommodation.json/{id}/check-availability": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "checkAccommodationAvailability",
        "summary": "Check availability for a selected Accommodation",
        "parameters": [
          {
            "in": "path",
            "description": "ID of the Accommodation",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccommodationQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/AccommodationAvailabilityReportDto"
            }
          }
        }
      }
    },
    "/accommodation.json/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "getAccommodation",
        "summary": "Get Accommodation by ID",
        "parameters": [
          {
            "in": "path",
            "description": "ID of accommodation to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/AccommodationDto"
            }
          }
        }
      }
    },
    "/accommodation.json/{id}/rooms": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "getRoomsByRoomType",
        "summary": "Get a list of all rooms for a particular Accommodation.",
        "parameters": [
          {
            "in": "path",
            "description": "ID of the accommodation",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RoomsGroupedByTypeContainer"
            }
          }
        }
      }
    },
    "/accommodation.json/availabilities": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "getAccommodationAvailabilities",
        "summary": "Get room availabilities for one or more accommodations over an interval",
        "parameters": [
          {
            "in": "query",
            "description": "Comma separated IDs of the Accommodations",
            "name": "ids",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The start date of the interval (yyyy-MM-dd)",
            "name": "start",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The end date of the interval (yyyy-MM-dd)",
            "name": "end",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity availability response.",
            "schema": {
              "$ref": "#/definitions/AccommodationAvailabilitiesDto"
            }
          }
        }
      }
    },
    "/accommodation.json/slug/{slug}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "accommodation"
        ],
        "operationId": "findAccommodationBySlug",
        "summary": "Look up Accommodation by slug",
        "parameters": [
          {
            "in": "path",
            "description": "The slug of the accommodation to be fetched",
            "name": "slug",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/AccommodationDto"
            }
          }
        }
      }
    },
    "/car-rental.json/list": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "car-rental"
        ],
        "operationId": "listCarRentals",
        "summary": "List all car rentals",
        "parameters": [
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalSearchResultsDto"
            }
          }
        }
      }
    },
    "/car-rental.json/slug/{slug}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "car-rental"
        ],
        "operationId": "findCarRentalBySlug",
        "summary": "Look up Car Rental by slug",
        "parameters": [
          {
            "in": "path",
            "description": "The slug of the car rental to be fetched",
            "name": "slug",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalDto"
            }
          }
        }
      }
    },
    "/car-rental.json/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "car-rental"
        ],
        "operationId": "getCarRental",
        "summary": "Get Car Rental by ID",
        "parameters": [
          {
            "in": "path",
            "description": "ID of car rentals to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalDto"
            }
          }
        }
      }
    },
    "/car-rental.json/search-cars": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "car-rental"
        ],
        "operationId": "searchCars",
        "summary": "Search types of rental cars",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CarQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarSearchResultsDto"
            }
          }
        }
      }
    },
    "/currency.json/findAll": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "currency"
        ],
        "operationId": "allCurrencies",
        "summary": "Get all Supported Currencies",
        "description": "Get a list of all the available currencies, along with conversion rates to ISK.",
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CurrencyDto"
              }
            }
          }
        }
      }
    },
    "/tag.json/groups": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "tag"
        ],
        "operationId": "getTagGroups",
        "summary": "Get the tag groups",
        "parameters": [
          {
            "in": "query",
            "description": "Comma separated list of required flags",
            "name": "flags",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagGroupDto"
              }
            }
          }
        }
      }
    },
    "/category.json/{productType}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "category"
        ],
        "operationId": "categoriesByProductType",
        "summary": "Get all categories for the specified product type",
        "parameters": [
          {
            "in": "path",
            "description": "The product type to be categorized",
            "name": "productType",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Specifies whether to get only categories for bookable items in this product type or not",
            "name": "item",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Comma separated list of required flags",
            "name": "flags",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CategoryDto"
              }
            }
          }
        }
      }
    },
    "/activity.json/{id}/upcoming-availabilities/{max}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "getUpcomingAvailabilities",
        "summary": "Get the next upcoming Activity availabilities",
        "description": "Get the list of upcoming availabilities for the activity id (including sold-outs, if parameter \"includeSoldOut\" == true.)",
        "parameters": [
          {
            "in": "path",
            "description": "ID of activity to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "path",
            "description": "The max number of upcoming availabilities to get.",
            "name": "max",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          },
          {
            "in": "query",
            "description": "Specify whether to include availabilities that are sold out.",
            "name": "includeSoldOut",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityAvailabilityDto"
            }
          }
        }
      }
    },
    "/activity.json/slug/{slug}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "findActivityBySlug",
        "summary": "Look up Activity by slug",
        "description": "Use corresponding slug (human readable string that is used to identify the product) for fetching this product. Slug is set in Product overview -> Actions -> Slugs.",
        "parameters": [
          {
            "in": "path",
            "description": "The slug of the activity to be fetched",
            "name": "slug",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityDto"
            }
          }
        }
      }
    },
    "/activity.json/{id}/pickup-places": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "getPickupPlaces",
        "summary": "Get Pickup / Dropoff places for an Activity",
        "parameters": [
          {
            "in": "path",
            "description": "ID of the Activity",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityPlacesDto"
            }
          }
        }
      }
    },
    "/activity.json/search": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "activitySearch",
        "summary": "Search activities and availability",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SearchResultsDto"
            }
          }
        }
      }
    },
    "/activity.json/{id}/availabilities": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "getActivityAvailabilities",
        "summary": "Get Activity availabilities for an interval",
        "parameters": [
          {
            "in": "path",
            "description": "ID of activity to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The start date of the interval ('yyyy-MM-dd')",
            "name": "start",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The end date of the interval ('yyyy-MM-dd')",
            "name": "end",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "Specify whether to include availabilities that are sold out.",
            "name": "includeSoldOut",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActivityAvailabilityDto"
              }
            }
          }
        }
      }
    },
    "/activity.json/active-ids": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "getActivityIds",
        "summary": "Get IDs of all active Activities that can be booked",
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SellableActivities"
            }
          }
        }
      }
    },
    "/activity.json/list-updated": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "getUpdatedActivities",
        "summary": "Get ids/timestamps of all Activities modified in specified date range",
        "parameters": [
          {
            "in": "query",
            "description": "date range start inclusive (ISO yyyy-MM-ddTHH:mm:ss.SSS - time can be ommitted or partial, time zone UTC)",
            "name": "fromDate",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "date range end exclusive (ISO yyyy-MM-ddTHH:mm:ss.SSS - time can be ommitted or partial, time zone UTC)",
            "name": "toDate",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/UpdatedProductsResponse"
            }
          }
        }
      }
    },
    "/activity.json/list-by-id": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "activityListByIds",
        "summary": "Get a list of Activities matching the IDs provided",
        "parameters": [
          {
            "in": "query",
            "description": "Comma separated list of Activity IDs",
            "name": "ids",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SearchResultsDto"
            }
          }
        }
      }
    },
    "/activity.json/{id}/price-list": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "priceList",
        "summary": "Get Activity price list",
        "parameters": [
          {
            "in": "path",
            "description": "ID of activity for which we want prices",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code in which we want the prices.",
            "name": "currency",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityPriceListDto"
            }
          }
        }
      }
    },
    "/activity.json/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "activity"
        ],
        "operationId": "getActivity",
        "summary": "Get Activity by ID",
        "description": "Use unique ID for fetching comprehensive information on this activity product.",
        "parameters": [
          {
            "in": "path",
            "description": "ID of activity to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityDto"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/car-rental": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "addCarRentalToSessionCart",
        "summary": "Add car rental booking to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object describing the car rental booking request, can be array of such objects",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CarRentalBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "Affiliate tracking code.",
            "name": "trackingCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "ID of the vessel associated with this booking.",
            "name": "vesselId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "ID of the harbour associated with this booking.",
            "name": "harbourId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "getSessionCart",
        "summary": "Get a session shopping cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart to be fetched",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-car/{carBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "removeCarFromSessionCart",
        "summary": "Remove a car booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the car booking to remove",
            "name": "carBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/route": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "addRouteToSessionCart",
        "summary": "Add route booking to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object describing the route booking request, can be array of such objects",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransportBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "Affiliate tracking code.",
            "name": "trackingCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "ID of the vessel associated with this booking.",
            "name": "vesselId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "ID of the harbour associated with this booking.",
            "name": "harbourId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-room/{roomBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "removeRoomFromSessionCart",
        "summary": "Remove a room booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the room booking to remove",
            "name": "roomBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-extra/{bType}/{bId}/{eId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "removeExtraBookingFromSessionCart",
        "summary": "Remove an extra booking from an existing parent booking in a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The booking type",
            "name": "bType",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the parent booking of this type",
            "name": "bId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "path",
            "description": "The ID of the extra to be removed (NOT the extra booking)",
            "name": "eId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/accommodation": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "addAccommodationToSessionCart",
        "summary": "Add accommodation booking to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object describing the accommodation booking request, can be array of such objects",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccommodationBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "Affiliate tracking code.",
            "name": "trackingCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "ID of the vessel associated with this booking.",
            "name": "vesselId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "ID of the harbour associated with this booking.",
            "name": "harbourId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/activity": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "addActivityToSessionCart",
        "summary": "Add activity booking to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object describing the activity booking request, can be array of such objects",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "Affiliate tracking code.",
            "name": "trackingCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "ID of the vessel associated with this booking.",
            "name": "vesselId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "ID of the harbour associated with this booking.",
            "name": "harbourId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-accommodation/{accommodationBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "removeAccommodationFromSessionCart",
        "summary": "Remove an accommodation booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the accommodation booking to remove",
            "name": "accommodationBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-activity/{activityBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "removeActivityFromSessionCart",
        "summary": "Remove an activity booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the activity booking to remove",
            "name": "activityBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-car-rental/{carRentalBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "removeCarRentalFromSessionCart",
        "summary": "Remove a car rental booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the car rental booking to remove",
            "name": "carRentalBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/add-or-update-extra/{bType}/{bId}": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "addOrUpdateExtraBookingInSessionCart",
        "summary": "Add or update an extra booking for an existing parent booking in a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The booking type",
            "name": "bType",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the parent booking of this type",
            "name": "bId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "description": "JSON object describing the extra booking request",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtraBookingRequestDto"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/shopping-cart.json/session/{sessionId}/remove-route/{routeBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "shopping-cart"
        ],
        "operationId": "removeRouteFromSessionCart",
        "summary": "Remove a route booking from a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The ID of the route booking to remove",
            "name": "routeBookingId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/language.json/findAll": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "language"
        ],
        "operationId": "allLanguages",
        "summary": "Get all Languages supported by the Channel",
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TranslationLanguageDto"
              }
            }
          }
        }
      }
    },
    "/route.json/list": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "route"
        ],
        "operationId": "listRoutes",
        "summary": "List ",
        "parameters": [
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteDto"
            }
          }
        }
      }
    },
    "/route.json/check-availability": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "route"
        ],
        "operationId": "checkRouteAvailability",
        "summary": "Get availability report for a particular route",
        "parameters": [
          {
            "in": "body",
            "description": "JSON query",
            "name": "query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransportQuery"
            }
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteAvailabilityReportDto"
            }
          }
        }
      }
    },
    "/route.json/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "route"
        ],
        "operationId": "getRoute",
        "summary": "Get Route by ID",
        "parameters": [
          {
            "in": "path",
            "description": "ID of transport route to be fetched",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "EN"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteDto"
            }
          }
        }
      }
    },
    "/question.json/shopping-cart/{sessionId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "question"
        ],
        "operationId": "forShoppingCart",
        "summary": "Get questions for the shopping cart specified",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The questions",
            "schema": {
              "$ref": "#/definitions/BookingQuestionsDto"
            }
          }
        }
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "question"
        ],
        "operationId": "answerShoppingCart",
        "summary": "Answer questions for the shopping cart specified",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "The answers",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingAnswersDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API response",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/question.json/booking/{bookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "question"
        ],
        "operationId": "forBooking",
        "summary": "Get questions for the booking specified",
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the booking",
            "name": "bookingId",
            "required": true,
            "format": "int64",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The questions",
            "schema": {
              "$ref": "#/definitions/BookingQuestionsDto"
            }
          }
        }
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "question"
        ],
        "operationId": "answerBooking",
        "summary": "Answer questions for the booking specified",
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the booking",
            "name": "bookingId",
            "required": true,
            "format": "int64",
            "type": "integer"
          },
          {
            "in": "body",
            "description": "The answers",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingAnswersDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API Response",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/question.json/activity-booking/{activityBookingId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "question"
        ],
        "operationId": "forActivityBooking",
        "summary": "Get questions for the activity booking specified",
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the activity booking",
            "name": "activityBookingId",
            "required": true,
            "format": "int64",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Questions",
            "schema": {
              "$ref": "#/definitions/BookingQuestionsDto"
            }
          }
        }
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "question"
        ],
        "operationId": "answerActivityBooking",
        "summary": "Answer questions for the activity booking specified",
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the activity booking",
            "name": "activityBookingId",
            "required": true,
            "format": "int64",
            "type": "integer"
          },
          {
            "in": "body",
            "description": "The answers",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingAnswersDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API response",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/cart.json/{sessionId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "operationId": "cartGet",
        "summary": "Get the contents of the shopping cart with the session ID supplied.",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The shopping cart",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/cart.json/{sessionId}/activity": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "operationId": "cartAddActivity",
        "summary": "Add an activity to the shopping cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "The activity booking request",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityBookingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The shopping cart",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/cart.json/{sessionId}/remove/{productBookingConfirmationCode}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "operationId": "cartRemove",
        "summary": "Remove a product booking from the shopping cart.",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The confirmation code of the product booking you want to remove",
            "name": "productBookingConfirmationCode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The shopping cart",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/cart.json/{sessionId}/apply-promo-code/{promoCode}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "operationId": "cartApplyPromoCode",
        "summary": "Apply a promo code to the shopping cart.",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The promo code you wish to apply to the shopping cart",
            "name": "promoCode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The shopping cart",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/cart.json/{sessionId}/remove-promo-code": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "operationId": "cartRemovePromoCode",
        "summary": "Remove any promo code from the shopping cart.",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The shopping cart",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/cart.json/{sessionId}/apply-gift-card/{giftCardCode}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "operationId": "cartApplyGiftCard",
        "summary": "Apply a gift card to the shopping cart.",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The gift card code you wish to apply to the shopping cart",
            "name": "giftCardCode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The shopping cart",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/cart.json/{sessionId}/track-affiliate/{affiliateCode}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "operationId": "cartApplyAffiliate",
        "summary": "Apply an affiliate tracking code to the shopping cart.",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The affiliate tracking code you wish to apply to the shopping cart",
            "name": "affiliateCode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The shopping cart",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/checkout.json/options/shopping-cart/{sessionId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "checkout"
        ],
        "operationId": "checkoutOptionsForShoppingCart",
        "summary": "Get checkout options for the shopping cart specified",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of shopping cart",
            "name": "sessionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The checkout options",
            "schema": {
              "$ref": "#/definitions/Checkout"
            }
          }
        }
      }
    },
    "/checkout.json/options/booking-request": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "checkout"
        ],
        "operationId": "checkoutOptionsForBookingRequest",
        "summary": "Get checkout options for the booking request specified",
        "parameters": [
          {
            "in": "body",
            "description": "The booking request",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The checkout options",
            "schema": {
              "$ref": "#/definitions/Checkout"
            }
          }
        }
      }
    },
    "/checkout.json/submit": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "checkout"
        ],
        "operationId": "processCheckout",
        "summary": "Process the checkout request",
        "parameters": [
          {
            "in": "body",
            "description": "The booking request",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckoutRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The checkout response",
            "schema": {
              "$ref": "#/definitions/CheckoutResponse"
            }
          }
        }
      }
    },
    "/checkout.json/confirm-reserved/{code}": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "checkout"
        ],
        "operationId": "confirmReservedCheckout",
        "summary": "Confirm a reservation made via checkout",
        "parameters": [
          {
            "in": "path",
            "description": "The booking confirmation code",
            "name": "code",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "The booking request",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingConfirmation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The checkout response",
            "schema": {
              "$ref": "#/definitions/CheckoutResponse"
            }
          }
        }
      }
    },
    "/booking.json/guest/{sessionId}/reserve": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "guestReserve",
        "summary": "Reserve the booking for the guest (before payment)",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of the guest",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "Comma separated names of parameters for the payment provider.",
            "name": "paymentParameters",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingReservationRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/guest/{sessionId}/reserved": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "guestGetReserved",
        "summary": "Get a list of reserved bookings for the guest (if any exist)",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of the guest",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookingDetailsDto"
              }
            }
          }
        }
      }
    },
    "/booking.json/{confirmationCode}/move-back-to-cart/session/{sessionId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "moveReservedBookingBackToSessionCart",
        "summary": "Move a reserved booking back to a session cart",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of the guest",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The confirmation code of the booking. The booking ID can also be used.",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "IS"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ShoppingCart"
            }
          }
        }
      }
    },
    "/booking.json/{confirmationCode}/abort-reserved": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "abortReservedBooking",
        "summary": "Abort a reserved booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code of the booking. The booking ID can also be used.",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Specifies whether the booking is aborted due to a timeout.",
            "name": "timeout",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/booking.json/guest/{sessionId}/reserve-pay-confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "guestReserveChargeAndConfirm",
        "summary": "Reserve the booking for the guest, charge the card and confirm",
        "parameters": [
          {
            "in": "path",
            "description": "The session ID of the guest",
            "name": "sessionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "Specifies whether to send email booking confirmation to the customer",
            "name": "sendCustomerNotification",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingReservationRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/{confirmationCode}/payment-error": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "paymentError",
        "summary": "Indicate that an error occurred in payment",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code of the booking. The booking ID can also be used.",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object describing the error",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ErrorDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/booking.json/{confirmationCode}/confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "confirmBooking",
        "summary": "Confirm a booking (after payment)",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code of the booking. The booking ID can also be used.",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "IS"
          },
          {
            "in": "query",
            "description": "Specifies whether to send email booking confirmation to the customer",
            "name": "sendCustomerNotification",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "in": "body",
            "description": "The confirmation object, which can optionally contain payments and other data",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingConfirmationDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/cancel-booking/{confirmationCode}": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "cancelBooking",
        "summary": "Cancel for given booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the booking that you want to cancel",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelBooking"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/booking.json/booking/{confirmationCode}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "bookingByConfirmationCode",
        "summary": "Fetch a booking by confirmation code",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code of the booking",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "IS"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/booking/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "bookingById",
        "summary": "Fetch a booking by id",
        "parameters": [
          {
            "in": "path",
            "description": "The id of the booking",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The currency code to use for calculating prices.",
            "name": "currency",
            "required": false,
            "type": "string",
            "default": "ISK"
          },
          {
            "in": "query",
            "description": "The language the content should be served in",
            "name": "lang",
            "required": false,
            "type": "string",
            "default": "IS"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/{id}/summary": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "getSummary",
        "summary": "Get summary for given booking",
        "parameters": [
          {
            "in": "path",
            "description": "The id of the booking",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/booking.json/edit": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "bookingExecuteEdit",
        "summary": "Edit bookings",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Action"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingEditResult"
            }
          }
        }
      }
    },
    "/booking.json/product-booking-search": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "productBookingSearch",
        "summary": "Search for bookings and return a list of booking information",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductBookingQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductBookingSearchResultsDto"
              }
            }
          }
        }
      }
    },
    "/booking.json/cancel-product-booking/{productConfirmationCode}": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "cancelProductBooking",
        "summary": "Cancel for given product booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the activity booking",
            "name": "productConfirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelProductBooking"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/booking.json/activity-booking/reserve-and-confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "reserveAndConfirmActivityBooking",
        "summary": "Reserve and confirm a single activity booking (bypasses shopping cart)",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SingleActivityBookingRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/activity-booking/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "activityBooking",
        "summary": "Show activity booking information",
        "parameters": [
          {
            "in": "path",
            "description": "The id or confirmation code for the product booking",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/activity-booking/{confirmationCode}/customer-status/{status}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "setActivityBookingCustomerStatus",
        "summary": "Change the arrived status of an activity booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the product booking",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The arrived status (yes/no true/false)",
            "name": "status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ActivityBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/activity-booking/{productConfirmationCode}/ticket": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "getActivityTicket",
        "summary": "Get ticket for given activity booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code of the activity booking",
            "name": "productConfirmationCode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/booking.json/route-booking/reserve-and-confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "reserveAndConfirmRouteBooking",
        "summary": "Reserve and confirm a single route booking (bypasses shopping cart)",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SingleTransportBookingRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/route-booking/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "routeBooking",
        "summary": "Show route booking information",
        "parameters": [
          {
            "in": "path",
            "description": "The id or confirmation code for the product booking",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/route-booking/{confirmationCode}/customer-status/{status}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "setRouteBookingCustomerStatus",
        "summary": "Change the arrived status of a route booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the product booking",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The arrived status (yes/no or true/false)",
            "name": "status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/RouteBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/car-rental-booking/reserve-and-confirm": {
      "post": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "reserveAndConfirmCarRentalBooking",
        "summary": "Reserve and confirm a single car rental booking (bypasses shopping cart)",
        "parameters": [
          {
            "in": "body",
            "description": "JSON object",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SingleCarRentalBookingRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/BookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/car-rental-booking/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "carRentalBooking",
        "summary": "Show car rental booking information",
        "parameters": [
          {
            "in": "path",
            "description": "The id or confirmation code for the product booking",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/car-rental-booking/{confirmationCode}/customer-status/{status}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "setCarRentalBookingCustomerStatus",
        "summary": "Change the arrived status of a car rental booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code for the product booking",
            "name": "confirmationCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "description": "The arrived status (yes/no or true/false)",
            "name": "status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CarRentalBookingDetailsDto"
            }
          }
        }
      }
    },
    "/booking.json/car-rental-booking/{productConfirmationCode}/ticket": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "getCarRentalTicket",
        "summary": "Get ticket for given car rental booking",
        "parameters": [
          {
            "in": "path",
            "description": "The confirmation code of the car rental booking",
            "name": "productConfirmationCode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/booking.json/transport-booking/{productConfirmationCode}/ticket": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "tags": [
          "booking"
        ],
        "operationId": "getTransportTicket",
        "summary": "Get ticket for given transport booking",
        "parameters": [
          {
            "in": "path",
[...]
